.slicer__data {
    width: 100%;
    max-height: 200px;
    min-height: 100px;
    height: 10vw;
    margin: 0 10px;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    resize: none;
    font-size: 17px;
}
.slicer__data_placeholder {
    color: gray;
}

.slicer__data:focus {
    outline: none;
    background-color:#f3f3f3;
}

.slicer__data:read-only {
    background-color: white;
}