.slicer__button {
    height: 30px;
    margin: 10px 0;
    min-width: 100px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    font-family: RobotoRegular, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.slicer__button:hover {
    color: white;
    background-color: black;
}

.slicer__button:active {
    background-color: gray;
}

.slicer__button:focus {
    outline: none;
}