.author__phone {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
    z-index: 1;
}

.author__phone_button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

.author__phone_button:hover {
    background-color: black;
    color: white;
}

.author__phone_button:active {
    background-color: gray;
    color: white;
}

.author__phone_hidden {
    display: none;
}